@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工作出差</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="title" name="标题" placeholder="/客户/目标城市/发布人"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="startTime" name="开始时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Business.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="Business.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BusinessTableToolbar" role="group">
                            @if(shiro.hasPermission("/business/add")){
                            <#button name="添加" icon="fa-plus" clickFun="Business.openAddbusiness()"/>
                            @}
                            @if(shiro.hasPermission("/business/update")){
                            <#button name="修改" icon="fa-edit" clickFun="Business.onEditbusiness()"/>
                            @}
                            @if(shiro.hasPermission("/business/delete")){
                            <#button name="删除" icon="fa-remove" clickFun="Business.onDeletebusiness()"/>
                            @}
                            <div class="hidden-xs" id="attendanceTableToolbar" role="group">
                            @if(shiro.hasPermission("/business/exportAll")){
                            <#button name="导出全部" icon="fa-export" clickFun="Business.exportExcelAll()"/>
                            @}
                        </div>
                        </div>
                        <#table id="BusinessTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/office/business/business.js?v=${version}"></script>
<script>
    //渲染时间选择框
    laydate.render({
        elem: '#startTime'
    });

    //渲染时间选择框
    laydate.render({
        elem: '#endTime'
    });
</script>
@}



