@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>定时任务</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="jobName" name="任务名称" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="methodName" name="方法名称" />
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">
                                            任务状态
                                        </button>
                                    </div>
                                    <select class="form-control" id="status">
                                        <option value="">所有</option>
                                        <option value="0">正常</option>
                                        <option value="1">暂停</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="SysJob.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="SysJob.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="sysJobTableToolbar" role="group">
                            @if(shiro.hasPermission("/quartz/job/add")){
                            <#button name="添加" icon="fa-plus" clickFun="SysJob.openAddSysJob()"/>
                            @}
                            @if(shiro.hasPermission("/quartz/job/edit")){
                            <#button name="修改" icon="fa-edit" clickFun="SysJob.openEditSysJob()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/quartz/job/changeStatus")){
                            <#button name="启用" icon="fa-check-circle" clickFun="SysJob.enableJob()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/quartz/job/changeStatus")){
                            <#button name="暂停" icon="fa-warning" clickFun="SysJob.pauseJob()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/quartz/job/run")){
                            <#button name="执行" icon="fa-play" clickFun="SysJob.runJob()" space="true"/>
                            @}
                        </div>
                        <#table id="sysJobTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/quartz/job/job.js?v=${version}"></script>
@}
