@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="leaveInfoForm">
            <input type="hidden" id="id" value="${leave.id}">
            <div class="row">
                 <div class="col-sm-6 b-r">
                    <#input id="title" name="标题" value="${leave.title}" />
                    <!--<#input id="startTime" value="${leave.startTime}" name="起始时间" underline="true"/>-->
                    <!--<#input id="endTime" value="${leave.endTime }"  name="结束时间" underline="true"/>-->
                    <#input id="startTime" name="开始时间" value="${leave.startTime}" pattern="time" />

                    <#input id="endTime" name="结束时间"  value="${leave.endTime}" pattern="time" />
                    <#dictSelector id="leaveType" name ="leaveType" code="leave_type" label="请假类型"  value="${leave.leaveType}"  underline="true" placeholder="请选择"  />
                </div>
                <div class="col-sm-6">
                <label class="col-sm-3 control-label" style="padding-top: 32px;">备注</label>
                <div class="col-sm-9">
                <textarea rows="3" cols="22" class="form-control" id="content" name="content" type="text" placeholder="事由">${leave.content}</textarea>
                </div>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                  <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LeaveWait.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/office/leave/leave_wait.js?v=${version}"></script>
@}
